/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* line 6, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, ../scss/_reset.scss */
body {
  line-height: 1; }

/* line 34, ../scss/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, ../scss/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 40, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 51, ../scss/_reset.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 56, ../scss/_reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* line 62, ../scss/_reset.scss */
body {
  padding: 0;
  margin: 0; }

/* line 21, ../scss/main.scss */
body {
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Open Sans, sans-serif;
  background-color: #be7b68; }

/* line 29, ../scss/main.scss */
nav {
  width: 100%;
  max-width: 635px;
  margin: 0 auto; }

/* line 35, ../scss/main.scss */
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  border-radius: 6px;
  overflow: hidden;
  background-color: #FFF;
  margin: 0 auto;
  margin-top: 40px; }
  @media screen and (max-width: 550px) {
    /* line 35, ../scss/main.scss */
    ul {
      flex-direction: column; } }

/* line 51, ../scss/main.scss */
li {
  flex: 1 1 auto;
  text-align: center;
  border-right: 1px solid #f6f0ec;
  border-bottom: 2px solid #fff;
  transition: 0.2s all ease-in-out; }
  /* line 57, ../scss/main.scss */
  li a {
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #8e8071;
    text-transform: uppercase; }
  /* line 64, ../scss/main.scss */
  li:last-of-type {
    border-right: none; }
  /* line 67, ../scss/main.scss */
  li:hover {
    background-color: #f8f3f0;
    border-bottom: 2px solid #54bc75; }
  /* line 71, ../scss/main.scss */
  li i {
    margin-right: 10px; }
  /* line 74, ../scss/main.scss */
  li:first-of-type a {
    position: relative; }
    /* line 76, ../scss/main.scss */
    li:first-of-type a:after {
      position: absolute;
      top: 4px;
      content: attr(data-before);
      font-size: 10px;
      width: 15px;
      height: 15px;
      text-align: center;
      padding-top: 2px;
      border-radius: 50%;
      background-color: #e26f4d;
      color: #fff; }
